{erl_opts, [no_debug_info]}.
{deps, [
   {'jsone', "", {git, "https://github.com/sile/jsone.git", {branch, master}}}
]}.
{escript_incl_apps, [p2p, jsone]}.
{escript_main_app, p2p}.
{escript_name, p2p}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.
{eunit_tests, [{application, p2p}]}.
