<!DOCTYPE html> 
<html> 
<head> 
    <title>ADMIN CONTROL PANEL</title> 
</head> 
<body> 
    <h1>ADMIN CONTROL PANEL</h1>
    <hr>
    <form action="/add_node" method="post">
        Enter the ID of the new peer: <input name="id"> <br><br>

        Enter the ID and the bandwidth of the neighbours of the new peer: <input name="edges"> <br><br>
    
        <button type="submit">Add new peer</button>
    </form>
    <hr>
    <form action="/remove_node" method="post">
        Enter the ID of the peer that you want to remove: <input name="rid"> <br><br>
    
        <button type="submit">Remove peer</button>
    </form>
    <hr>
    <h1>NETWORK GRAPH</h1>
    <img src="/static/graph.gv.png"/>
</body> 
</html>