<!DOCTYPE html> 
<html> 
<head> 
    <title>PEER CONTROL PANEL</title> 
</head> 
<body> 
    <h1>PEER CONTROL PANEL</h1>
{%  if status %}
    <h1> THE REQUEST {{status}}</h1>
{%  endif %}
    <hr>
    <form method="post">
        Enter the ID of the peerA: <input name="idpa"> <br><br>

        Enter the ID of the peerB: <input name="idpb"> <br><br>
    
        Enter the required bandwidth: <input name="band"> <br><br>
    
        <button type="submit">Try to establish a connection</button>
    </form>
    <hr>
    <form action="/close_conn" method="post">
        Enter the ID of the peerA: <input name="idpa"> <br><br>

        Enter the ID of the peerB: <input name="idpb"> <br><br>
    
        <button type="submit">Close the connection</button>
    </form>
    <hr>
    
</body> 
</html>